{% extends "components/base.html" %}

{% load staticfiles %}

{% block header %}
<h3>About Us</h3>
{% endblock header %}

{% block content-main %}
<!-- ABOUT US START -->
<section class="container">
    <div class="page-header">
            <h5>Outing Box</h5>
    </div>
    <div class="row">
        <div class="col s12">
            <p class="">
                Outing Box is a platform to explore the coolest and the most amazing experiences you can have in your city. It’s a box full of places for Entertainment, Games, Leisure, Health &amp; Wellness, Hobbies and a lot more. Here, you can share your reviews/experiences, use reviews by other users and make the most out of it!
            </p>  
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <p class="">
                Our goal is to help you choose a suitable place for you to indulge in some quality time with your loved ones. We aim to achieve this through authentic reviews and comprehensive groundwork of our team.
            </p>  
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <p class="">
                Outing Box currently caters to people in Delhi NCR, however we will reach your city even before you realize.
            </p>              
        </div>
    </div>
</section>
<!-- ABOUT US END -->

{% endblock content-main %}
