<section class="container">
    <div class="page-header text-center">
        <h1>All categories</h1>
    </div>

    {% for box in boxes %}
        <div class="row margin-bottom-10">
            <div class="col-xs-12 col-sm-4 col-md-2">
                <u class="">{{ box.title }}</u>
            </div>
            <div class="clearfix visible-xs"></div>
            <ul class="col-xs-12 col-sm-8 col-md-10 list-unstyled">
                {% for category in box.category_set.all  %}
                    <li class="small"><a href="{{ category.get_absolute_url }}">{{ category.title }}&nbsp;</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</section>
