{% load staticfiles %}

<section class="container">
    <div class="page-header text-center">
        <h1 class="center bold">Take a look at our collections</h1>
    </div>

    <div class="row text-center">
        {% for box in boxes %}
        <div class="col-xs-4 col-sm-2">
            <a href="{{ box.get_absolute_url }}">
                <img src="{{ MEDIA_URL }}{{ box.featured_image }}">
                <h6>{{ box.title }}</h6>
            </a>
        </div>
        {% if forloop.counter == 3 %}
        <div class="clearfix visible-xs"></div>
        {% endif %}
        {% endfor %}
    </div>
</section>
