<section class="container">
    <div class="page-header text-center">
        <h1 class="center bold">Our Suggestions!</h1>
    </div>

    <div class="row text-center">
        <div class="col-xs-6 col-sm-3 text-center">
            <a href="{{ featured.featured_1.get_absolute_url }}">
                <img src="{{ MEDIA_URL }}{{ featured.featured_1.featured_image }}" class="img-responsive center-block">
                <h6>{{ featured.featured_1.title }}</h6>
            </a>
        </div>
        <div class="col-xs-6 col-sm-3 text-center">
            <a href="{{ featured.featured_2.get_absolute_url }}">
                <img src="{{ MEDIA_URL }}{{ featured.featured_2.featured_image }}" class="img-responsive center-block">
                <h6>{{ featured.featured_2.title }}</h6>
            </a>
        </div>
        <div class="clearfix visible-xs"></div>
        <div class="col-xs-6 col-sm-3 text-center">
            <a href="{{ featured.featured_3.get_absolute_url }}">
                <img src="{{ MEDIA_URL }}{{ featured.featured_3.featured_image }}" class="img-responsive center-block">
                <h6>{{ featured.featured_3.title }}</h6>
            </a>
        </div>
        <div class="col-xs-6 col-sm-3 text-center">
            <a href="{{ featured.featured_4.get_absolute_url }}">
                <img src="{{ MEDIA_URL }}{{ featured.featured_4.featured_image }}" class="img-responsive center-block">
                <h6>{{ featured.featured_4.title }}</h6>
            </a>
        </div>
    </div>
</section>
