<div class="header banner">
    <section class="jumbotron container">
        <div class="row text-center">
            <div class="col-xs-12">
                <h2>Get your daily scoop of fun, events, and places to be!</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8">
                <form class="form-horizontal" action="{% url 'search' %}">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label class="sr-only" for="search-input">Search</label>
                            <input class="form-control input-lg" id="search-input" name="query" type="text" placeholder="Bowling, Pool, etc.">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-6">
                            <button class="btn-lg btn btn-danger btn-block col-xs-6" type="submit" id="search-button">Search</button>
                        </div>
                        <div class="clearfix visible-xs"></div>
                        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-6">
                            <a href="{% url 'search' %}" class="btn-lg btn btn-info btn-block col-xs-6">Explore all places!</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
