<div class="jumbotron header" id="{{ id }}">
    <section class="container">
        <div class="row text-center">
            <div class="col-xs-12">
                <h3>Search for cool things to do around you!</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-xs-12">
                <form class="form-inline" action="{% url 'search' %}">
                    <div class="form-group">
                        <label class="sr-only" for="search-input">Search</label>
                        <input class="form-control" id="search-input" name="query" type="text" placeholder="Bowling, Pool, etc.">
                    </div>
                    <button class="btn btn-default" type="submit">
                        Search
                    </button>
                </form>
            </div>
        </div>
    </section>
</div>
