{% extends "components/base.html" %}

{% load staticfiles %}

{% block customjs %}
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var mapCanvas = document.querySelector('.map');
        var myLatlng = new google.maps.LatLng({{ activity.address.location }});
        var mapOptions = {
            center: myLatlng,
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(mapCanvas, mapOptions);
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
        });
    });
</script>
{% endblock customjs %}

{% block content %}
<section class="container">
    <div class="row text-center">
        <div class="col-xs-12">
            <h4 class="page-header">{{ activity.title }}</h4>
            <h6>{% include 'components/rating.html' with activity=activity %}</h6>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2 col-sm-1 col-md-1 text-center">
            {% include "components/bookmark.html" %}
        </div>
        <div class="col-xs-10 col-sm-5 col-md-4">
            <div class="map text-center" id="map"></div>
            <ul class="small list-unstyled">
                <li><span class="fa fa-location-arrow fa-fw" aria-hidden="true"></span>&nbsp;&nbsp;{{ activity.address.address_line1 }}, {{ activity.address.address_line2 }}</li>
                {% for metro_station in activity.address.metro_station.all|slice:":2" %}
                <li><span class="fa fa-train fa-fw" aria-hidden="true"></span>&nbsp;&nbsp;{{ metro_station.title }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-7">
            {% if activity.description %}
                <div class="page-header">
                    <h4>About !</h4>
                </div>
                <p>
                    {{ activity.description }}
                </p>
            {% endif %}
            <div class="page-header">
                <h4>Things to do here !</h4>
            </div>
            <ul class="small">
                {% for category in activity.category.all %}
                    <li>{{ category.title }}</li>
                {% endfor %}
            </ul>

            <div class="page-header">
                <h4>Contact {{ activity.address.title }}</h4>
            </div>

            <ul class="small list-unstyled">
                <li><span class="fa fa-phone fa-fw" aria-hidden="true"></span>&nbsp;&nbsp;{{ activity.contact_numbers|slice:":2"|join:", " }}</li>
                {% if activity.website %}
                <li><span class="fa fa-desktop fa-fw" aria-hidden="true"></span>&nbsp;&nbsp;<a href="">{{ activity.website }}</a></li>
                {% endif %}
                {% if activity.email %}
                <li><span class="fa fa-envelope fa-fw" aria-hidden="true"></span>&nbsp;&nbsp;<a href="">{{ activity.email }}</a></li>
                {% endif %}
                {% if activity.facebook %}
                <li><span class="fa fa-facebook fa-fw" aria-hidden="true"></span>&nbsp;&nbsp;<a href="">{{ activity.facebook }}</a></li>
                {% endif %}
                {% if activity.twitter %}
                <li><span class="fa fa-twitter fa-fw" aria-hidden="true"></span>&nbsp;&nbsp;<a href="">{{ activity.twitter }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</section>

{% include 'activity/activity-photo-gallery.html' %}
{% include 'activity/activity-comments.html' %}

{% endblock content %}
