{% load account %}

<section class="container">
    <div class="row text-center">
        <div class="col-xs-12">
            <h4 class="page-header">Reviews</h4>
            {% if user.is_authenticated %}
            <h6>Your rating{% include 'components/rating.html' with activity=activity  userrating=user_rating canedit=1 %}</h6>
            {% endif %}
        </div>
    </div>

    <div class="row text-center">
        <div class="col-xs-12 comment-wrapper">
        {% if reviews %}
        {% for review in reviews  %}
            <p>{{ review }}</p>
        {% endfor %}
        {% else %}
            <h3 class="text-warning">Be the first one to add a review!</h3>
        {% endif %}
        </div>
    </div>

    {% if user.is_authenticated %}
    <form id="comments-form" class="form-horizontal" action="{% url 'comment' %}" method="POST" >
        {% csrf_token %}
        <input name="id" value="{{ activity.id }}" type="hidden">
        <div class="input-group">
            <textarea class="form-control col-xs-12 col-sm-10" rows="3" name="review"></textarea>
            <button type="submit" class="btn btn-primary col-sm-2">Submit</button>
        </div>
    </form>
    {% else %}
        <button type="submit" class="btn btn-warning">Please login to comment!</button>
    {% endif %}

</section>
