{% load account %}

<section class="container">
    <div class="row text-center">
        <div class="col-xs-12">
            <h4 class="page-header">Reviews</h4>
            {% if user.is_authenticated %}
            <h6>Your rating{% include 'components/rating.html' with activity=activity  userrating=user_rating canedit=1 %}</h6>
            {% endif %}
        </div>
    </div>

    <div class="row text-center">
        <div class="col-xs-12">
        {% if reviews %}
        {% for review in reviews  %}
            <p>{{ review }}</p>
        {% endfor %}
        {% else %}
            <h3 class="text-warning">Be the first one to add a review!</h3>
        {% endif %}
        </div>
    </div>

    <div class="row text-center">
        <div class="col-xs-12">
            {% if user.is_authenticated %}
            <form class="form-inline" id="comments-form" action="{% url 'comment' %}" method="POST" >
                {% csrf_token %}
                <input name="id" value="{{ activity.id }}" type="hidden">
                <div class="form-group">
                    <textarea class="form-control" rows="3" name="review"></textarea>
                </div>
                <button type="submit" class="btn btn-warning">Submit</button>
            </form>
            {% else %}
                <button type="submit" class="btn btn-warning">Please login to comment!</button>
            {% endif %}
        </div>
    </div>
</section>
