{% extends "components/base.html" %}

{% load staticfiles %}

{% block content %}
<section class="container">
    <div class="jumbotron search-jumbotron">
        <div class="page-header">
            <h3 class="text-center">Results for : <span class="bold underline">{{ query }}</span></h3>
        </div>
    </div>

    <div class="row">
       
        {% if activities %}
            {% include 'search/search-filter.html' %}
            {% include 'search/search-results.html' with activities=activities %}
        {% else %}
            <div class="col-xs-12">
                <h3 class="text-danger text-center">Sorry! No results found!</h3>
            </div>
        {% endif %}
       
    </div>
</section>
{% endblock content %}
