<div class="row">
    <div class="col-xs-12">
        <h6><u>Order Results</u></h6>
        <ul class="small list-unstyled">
            <li>
                <span class="fa fa-trophy fa-fw"></span>
                <a href="{{ order_by_relevance_url }}">&nbsp;Relevance</a>
            </li>
            <li>
                <span class="fa fa-star fa-fw"></span>
                <a href="{{ order_by_rating_url }}">&nbsp;Rating</a>
            </li>
            <li>
                <span class="fa fa-inr fa-fw"></span>
                <a href="{{ order_by_price_url }}">&nbsp;Price</a>
            </li>
        </ul>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-xs-12">
        <h6><u>Filter Results</u></h6>
        <form class="" action="{% url 'search' %}">
            <input type="hidden" name="query" value="{{ query }}">
            <input type="hidden" name="page" value="{{ page }}">

            <div class="form-group">
                <select class="form-control" id="location_auto_filter" name="sz" placeholder="Filter by location" multiple>
                    {% for sub_zone in sub_zone_list  %}
                        <option value="{{ sub_zone.value }}" {% if sub_zone.value in sub_zones_selected_list %}selected{% endif %}>{{ sub_zone.name }}</option>
                    {% endfor %}
                </select>
                <select class="form-control" id="category_auto_filter" name="c" placeholder="Filter by category" multiple>
                    {% for category in category_list  %}
                        <option value="{{ category.value }}" {% if category.value in categories_selected_list %}selected{% endif %}>{{ category.name }}</option>
                    {% endfor %}
                </select>

                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>
