{% extends "components/base.html" %}

{% load staticfiles %}

{% block content %}
<section class="container">
    <div class="page-header">
        <h3 class="text-center">Results for : <span class="bold underline">{{ query }}</span></h3>
    </div>
    <section class="row">
        {% if activities %}
            <div class="col-xs-12 col-sm-4 col-md-3 search-filter">
                {% include 'search/search-filter.html' %}
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 search-results">
                {% include 'search/search-results.html' %}
                {% include 'components/pager.html' %}
            </div>
        {% else %}
            <div class="col-xs-12">
                <h3 class="text-danger text-center">Sorry! No results found!</h3>
            </div>
        {% endif %}
    </section>
</section>
{% endblock content %}
