@font-face {
  font-family: 'BlackJack';
  src: url('../fonts/black_jack.ttf');
}


@font-face {
  font-family: 'Cavier';
  src: url('../fonts/CaviarDreams.ttf');
}

@font-face {
  font-family: 'Railway';
  src: url('../fonts/Raleway-Regular.ttf');
}
