* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 250px;
}

.header {
    height: 400px;
    background-size: 100%;
    background-image: url("/media/img/header.jpg");
    background-position: 30% 50%;
    color: #fff;

    h3 {
        margin-top: -25px;
        margin-bottom: 50px;
    }
}

ul {
    margin-top: 10px;

    li {
        margin-top: 2px;
    }

    &.list-unstyled {
        li {
            margin-top: 7px;
        }
    }
}

footer {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-top: 25px;
    padding-bottom: 25px;
}

section {
    padding-top: 20px;
    padding-bottom: 25px;
}

.map {
    height: 300px;
}

.text-rating {
    color: #FFDF88;
}

.item-cost {
    li {
        display: inline-block;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 3px;
        padding-right: 3px;
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
        border-radius: 100%;
        font-size: smaller;
    }

    .cost-active {
        background-color: #519548;
        color: #fff;
    }
}

.search-result {
    padding-top: 5px;
    padding-bottom: 5px;
}

// To left align price box on search results
.search-results {
    ul {
        padding-left: 0px !important;
    }
}

.dropdown-button {
    width:100px;
}

.dropdown-content {
    li {
        padding: 0px !important;
    }
}

.activity {
    &:first-child {
        margin-top: 25px !important;
    }

    border-bottom: 1px solid #ccc;
    padding-bottom: 25px !important;
    padding-top: 25px !important;
}

.row {
    margin-bottom: 2px;
}

.bookmark:hover, .rating:hover {
    cursor: pointer
}

.slick-track {
    overflow: hidden !important;
}
