* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 500px;
}

// From jQuery-Barrating plugin
.br-readonly {
    a {
        cursor: default;
    }
}

a > h6 {
    margin-bottom: 25px;
}

// Bootstrap not giving equal height to button and input;
// Therefore, manually override the height
.navbar-form {
    button {
        height: 34px;
    }
}

.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("/static/outingbox/img/banner.jpg");
}

.header {
    background-color: #00A0B0;
    background-position: 50% 40%;
    background-size: cover;
    color: #fff;

    h2 {
        margin-top: 45px;
        margin-bottom: 35px;
    }

    .jumbotron {
        background: transparent;
    }
}

ul {
    margin-top: 0px;

    li {
        margin-top: 2px;
    }

    &.list-unstyled {
        li {
            margin-top: 0px;
            margin-bottom: 7px;
        }
    }
}

.zero-margin-bottom {
    margin-bottom: 0px;
}

footer {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-top: 25px;
    padding-bottom: 5px;
    background-color: #1C2130;
    color: #fff;
}

section {
    padding-bottom: 25px;
}

.map {
    height: 300px;
    margin-bottom: 10px;
}

@media(max-width:992px) {
    .map {
        height: 150px;
    }

    .activity {
        &:first-child {
            padding-top: 25px;
        }
    }

    .search-results {
        margin-top: 50px;
        border-left: none;
    }

    .box-hero {
        height: 200px;
    }

    .search-jumbotron {
        margin-bottom: 0px;
        .page-header {
            margin-bottom: 0px;
        }
    }
}

@media(max-width:780px) {
    #search-button {
        margin-bottom: 5px;
    }
}

@media(min-width:780px) {
    .activity-details {
        .page-header:first-child {
            margin-top: 0px;
            h4 {
                margin-top: 0px;
            }
        }
    }

    .header {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.text-rating {
    color: #FFDF88;
}

.item-cost {
    padding-left: 0px !important;

    li {
        display: inline-block;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 3px;
        padding-right: 3px;
        background-color: #555;
        color: #fff;
        border-radius: 100%;
        font-size: smaller;
    }

    .cost-active {
        background-color: #519548;
        color: #fff;
    }
}

.search-results {
    border-left: 1px solid #ddd;
}

.search-result {
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdown-content {
    li {
        padding: 0px !important;
    }
}

.activity {
    img {
        margin-bottom: 10px;
    }

    &:first-child {
        padding-top: 0px;
    }

    h5 {
        margin-top: 0px;
    }

    border-bottom: 1px solid #ddd;
    padding-bottom: 40px;
    padding-top: 25px;
}

.row {
    margin-bottom: 2px;
}

.bookmark:hover, .rating:hover {
    cursor: pointer
}

.slick-track {
    overflow: hidden !important;
}

#entertainment {
    background-color: #d35400;
}

#science-art-and-history {
    background-color: #36393B;
}

#nature {
    background-color: #27ae60;
    background-image: url("/static/outingbox/img/nature.jpg");
    background-position: 50% 40%;
    background-size: 100%;
}

#health-and-wellness {
    background-color: #D14334;
}

#games-and-sports {
    background-color: #16a085;
}

#hobbies {
    background-color: #8e44ad;
}

.box-details {
    margin-top: 50px;
}

.pager {
    margin-top: 50px;
}