{% extends "components/base.html" %}
{% load staticfiles %}

{% block custommeta %}
<meta property="og:image" content="{{ request.build_absolute_uri }}{{ MEDIA_URL }}{{ box.cover_image }}">
<meta property="og:title" content="{{ box.title }}">
<meta property="og:url" content="{{ request.build_absolute_uri }}{{ box.get_absolute_url }}">
<meta property="og:site_name" content="Outing Box">
{% endblock %}

{% block hero %}
{% include 'box/hero.html' with id=box.url_name %}
{% endblock hero %}

{% block content %}
<section class="container">
    <div class="row">
        {% for activity in activities %}
            <div class="col-xs-12 col-sm-4 col-md-3 text-center box-details">
                <a href="{{ activity.get_absolute_url }}">
                    <img class="img-responsive center-block unviel" data-src="{{ MEDIA_URL }}{{ activity.featured_image }}" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
                    <h6>{{ activity.title }}</h6>
                </a>
            </div>
            <div class="clearfix visible-xs"></div>
            {% if forloop.counter0 == 3 or forloop.counter0 == 7 or forloop.counter0 == 11 %}
                <div class="clearfix visible-md"></div>
                <div class="clearfix visible-lg"></div>
            {% endif %}
            {% if forloop.counter0 == 2 or forloop.counter0 == 5 or forloop.counter0 == 8 or forloop.counter0 == 11 %}
                <div class="clearfix visible-sm"></div>
            {% endif %}
        {% endfor %}
    </div>

    {% include 'components/pager.html' %}
</section>
{% endblock content %}
