<footer>
    <div class="container text-center">
         <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <div class="row">
                    <div class="col-xs-4"><a href="" class=""><span class="fa fa-twitter fa-fw"></span></a></div>
                    <div class="col-xs-4"><a href="" class=""><span class="fa fa-facebook fa-fw"></span></a></div>
                    <div class="col-xs-4"><a href="" class=""><span class="fa fa-linkedin fa-fw"></span></a></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h6>Made with &hearts; in दिल्ली</h6>
                <h6>To improve is to change; to be perfect is to change often</h6>
            </div>
        </div>

        <div class="row text-center">
            <ul class="col-xs-12 list-inline">
                <li><a href="{% url 'index' %}">Privacy Policy</a></li>
                <li>&sdot;</li>
                <li><a href="{% url 'index' %}">Terms and Conditions</a></li>
                <li>&sdot;</li>
                <li><a href="{% url 'index' %}">Cookie Policy</a></li>
            </ul>
        </div>

        <div class="row">
            <div class="col-xs-12 small">
                Copyright &copy; Outing Box 2015. All Rights Reserved
            </div>
        </div>
    </div>
</footer>