<footer>
    <div class="container text-center small">
         <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <div class="row">
                    <div class="col-xs-4"><a href="https://twitter.com/Outing_Box" class="btn btn-xs btn-social-icon btn-twitter"><span class="fa fa-twitter fa-fw"></span></a></div>
                    <div class="col-xs-4"><a href="https://www.facebook.com/outingbox/" class="btn btn-xs btn-social-icon btn-facebook"><span class="fa fa-facebook fa-fw"></span></a></div>
                    <div class="col-xs-4"><a href="https://www.linkedin.com/company/outing-box" class="btn btn-xs btn-social-icon btn-linkedin"><span class="fa fa-linkedin fa-fw"></span></a></div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <ul class="list-unstyled">
                <li>Made with &hearts; in दिल्ली</li>
            </ul>
            <ul class="col-xs-12 list-inline">
                <li><a href="{% url 'index' %}">Privacy Policy</a></li>
                <li>&sdot;</li>
                <li><a href="{% url 'index' %}">Terms and Conditions</a></li>
                <li>&sdot;</li>
                <li><a href="{% url 'index' %}">Cookie Policy</a></li>
            </ul>
            <ul class="list-unstyled">
                <li>Copyright &copy; Outing Box 2016. All Rights Reserved</li>
            </ul>
        </div>
    </div>
</footer>
