{% load account %}
{% load staticfiles %}
{% load socialaccount %}

<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="{% url 'index' %}" class="navbar-brand">
            {% if nav_form %}
                <img src="{% static 'outingbox/img/logo_white.png' %}">
            {% else %}
                <img src="{% static 'outingbox/img/logo_black.png' %}">
            {% endif %}
        </a>
    </div>

    <div class="collapse navbar-collapse" id="nav-menu">
        {% if nav_form %}
        <form class="navbar-form navbar-left" action="{% url 'search' %}" role="search">
            <div class="form-group">
                <input type="text" class="form-control input-lg" placeholder="Bowling, Pool, etc." name="query">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% endif %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'index' %}">Home</a></li>
            {% if user.is_authenticated %}
            <li class="dropdown">
                <a class="black-text dropdown-button" data-toggle='dropdown' href="">{% user_display user %}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'profile' %}">Profile</a>
                    </li>
                    <li>
                        <a href="{% url 'profile_bookmarks' %}">Bookmarks</a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#logout-modal">Logout</a>
                    </li>
                </ul>
            </li>
            {% else %}
            <li><a href="" data-toggle="modal" data-target="#login-modal">Login</a></li>
            {% endif %}
            <li><a href="{% url 'contact' %}">Contact Us</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
        </ul>

    </div>
</div>
